/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
}

/*Major Classes*/

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 5px;
  margin: 10px;
  flex: 1 100%;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1110px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .nav-bar {
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    background: #282828;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
  }

  .nav-bar.active {
    position: absolute;
    margin-top: 10vh;
    height: 200px;
    z-index: 5;
    border-radius: 0 0 1px 10px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  width: 500px;
  height: 400px;
  padding: 50px;
  background-color: #8b8b8b;
}

.btn-icons {
  width: 20px;
  height: 20px;
}

.input-textbox {
  width: 250px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: 0.2s ease;
}

.send-txt-box {
  width: 150px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: 0.2s ease;
}

.search-box {
  width: 320px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: 0.2s ease;
}

.send-txt-box:focus {
  outline: none;
}

.search-box:focus {
  outline: none;
}

.send-btn,
.create-btn {
  width: 80px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: 0.2s ease;
}

.send-btn:hover,
.create-btn:hover {
  background-color: #f1432c;
  color: white;
}

.toggle-footer {
  width: 150px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: 0.2s ease;
}

.toggle-footer:hover {
  background-color: #f1432c;
  color: white;
}

.input-textbox:focus {
  outline: none;
  border-width: 1px;
  border-color: #007bff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(15, 20, 128, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(15, 20, 128, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(15, 20, 128, 0.75);
}

.login-button,
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7834f7;
  color: white;
  border: none;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
  border-radius: 15px;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1432c;
  color: white;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  width: 250px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-icons {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.user-pfp {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.login-layer {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.home-layer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.create-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.room-body {
  padding: 50px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.session-body {
  height: 450px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 20px;
}

.room-cards {
  width: 60%;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  height: 100%;
  padding: 50px;
}

.room-cards:hover {
  background-color: #f1432c;
  transition: 0.5s ease;
  cursor: pointer;
}

.session {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
}

.session:hover {
  background-color: rgba(0, 0, 0, 0.125);
  transition: 0.5s ease;
}

header {
  width: 100%;
  height: 65px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

header ul {
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

header ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  right: 100px;
  top: -5px;
}

header ul li a:hover {
  background-color: #f1432c;
  border-radius: 20px;
}

.side-2 {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.side {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.main {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 50px;
}

.footer-cards {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  border-radius: 20px;
  transition: 0.5s ease;
  width: 310px;
}

.footer-cards:hover {
  background-color: #f1432c;
  border-radius: 20px;
}

.thumbnails {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.current-playing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loading-screen {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details {
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Responsiveness*/

@media only screen and (max-width: 768px) {
  #welcome-label {
    display: none;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3;
  }
  .main {
    order: 2;
  }
  .side {
    order: 1;
  }

  .side-2 {
    order: 3;
    max-width: 200px;
  }

  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .side {
    flex: 1;
  }
}

/*Utility Classes*/
.position-absolute {
  position: absolute;
}
.font-primary {
  font-family: sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.font-size-body {
  font-size: 0.8rem;
}

.font-size-subheader {
  font-size: 1.4rem;
}

.font-size-header {
  font-size: 2rem;
}

.t-deco-none {
  text-decoration: none;
}

.black-bg {
  padding: 12px 20px;
  border-radius: 20px;
  background-color: black;
}

.white-color {
  color: white;
}

.gray-color {
  color: gray;
}

.black-color {
  color: black;
}

.red-color {
  color: red;
}

.mt-sm-5 {
  margin-top: 5px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.ms-1 {
  margin-left: 10px;
}

.ms-2 {
  margin-left: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.me-1 {
  margin-right: 10px;
}

.ms-lg-2 {
  margin-left: 200px;
}

.text-center {
  text-align: center;
}

.debug {
  border: 1px solid red;
}

.force-center {
  width: 600px;
  transform: translate(25%, 0);
}

.force-header {
  transform: translate(0, -125%);
}

.error-absolute {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.card-wrapper > * {
  display: flex;
  flex-flow: nowrap;
}

.card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.child-1 {
  height: 100%;
}

.child-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  gap: 20px;
}

@media all and (min-width: 800px) {
  .child-2 {
    flex: 3;
  }
  .child-1 {
    order: 1;
  }
  .child-2 {
    order: 2;
  }
}

@media all and (min-width: 600px) {
  .child-1 {
    flex: 1;
  }
}
